################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.testlog
*.manifest
/.vs/slnx.sqlite
/.vs/GearGuru/FileContentIndex/1be9f55d-44bd-4c98-ad5c-11f44dd2548e.vsidx
/.vs/GearGuru/FileContentIndex/4d146c40-f646-4882-9c15-d093f3ccd8c3.vsidx
/.vs/GearGuru/FileContentIndex/896ea134-743f-4e0a-a1ef-6a42817d4a4c.vsidx
/.vs/GearGuru/FileContentIndex/b65cd423-eb1c-440d-8b39-82c388e2ff78.vsidx
/.vs/GearGuru/FileContentIndex/b6628b72-6bf4-48c5-8b48-4ac426c027ab.vsidx
/.vs/GearGuru/v17/.wsuo
/.vs/VSWorkspaceState.json
/.vs/GearGuru/FileContentIndex/2f6a8384-1b2a-4e90-937b-a4b8730086ca.vsidx
*.vsidx
*.sqlite-journal
*.config
*.json
/TMAN.LABOPS.FRONTEND/.vs/ProjectEvaluation/tman.labops.frontend.metadata.v8.bin
/TMAN.LABOPS.FRONTEND/.vs/ProjectEvaluation/tman.labops.frontend.projects.v8.bin
/TMAN.LABOPS.FRONTEND/.vs/ProjectEvaluation/tman.labops.frontend.strings.v8.bin
/TMAN.LABOPS.FRONTEND/.vs/TMAN.LABOPS.FRONTEND/DesignTimeBuild/.dtbcache.v2
/TMAN.LABOPS.FRONTEND/.vs/TMAN.LABOPS.FRONTEND/v17/.futdcache.v2
/TMAN.LABOPS.FRONTEND/.vs/TMAN.LABOPS.FRONTEND/v17/.wsuo
