<link href="~/css/tela-login.css" rel="stylesheet" />
@model GG_LabOps_WebUI.Models.LoginModel

@{
    ViewBag.Title = "Login";
}

@if (TempData["MsgError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MsgError"]
    </div>
}

<div class="container">
    <h2>@ViewBag.Title</h2>
    <form asp-controller="Login" asp-action="Login" method="post">
        <div>
            <div class="mb-3">
                <label asp-for="Login">Chave de Usuario:</label>
                <input asp-for="Login" type="text" id="username" required>
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Senha">Senha:</label>
                <input asp-for="Senha" type="password" id="password" required>
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </div>
    </form>
</div>