@model LoginModel

@{
    Layout = "_LayoutLoggedOut";
    ViewBag.Title = "Login";
}

@if (TempData["MsgError"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        @TempData["MsgError"]
    </div>
}

<div class="card">
    <section class="form-section" id="sign-in">
        <h1 class="title">Entrar</h1>
        <form asp-action="Login" asp-controller="Login" method="post">
            <span class="subtitle">ou use a sua conta</span>
            <input asp-for="Login" type="text" placeholder="Email">
            <input asp-for="Senha" type="password" placeholder="Senha">
            <button type="submit" class="form-btn"> Entrar </button>
        </form>
    </section>
    <section class="form-section" id="sign-up">
        <h1 class="title">Solicitar acesso</h1>
        <form asp-action="Cadastro" asp-controller="Login" method="post">
            <span class="subtitle">Preencha os dados necessarios</span>
            <input asp-for="Nome" type="text" placeholder="Nome">
            <input asp-for="Email" type="email" placeholder="Email">
            <input asp-for="Senha" type="password" placeholder="Senha">
            <button class="form-btn"> Solicitar o acesso </button>
        </form>
    </section>
    <section class="call" id="sign-in-call">
        <h1 class="title">Bem-vindo de volta!</h1>
        <span class="subtitle">Se mantenha conectado fazendo login <br> com as suas informações!</span>
        <button class="call-btn" id="sign-in-call-btn">já sou cadastrado</button>
    </section>
    <section class="call hide" id="sign-up-call">
        <h1 class="title">Primeiro acesso?</h1>
        <span class="subtitle">Solicite seu acesso <br> ao administrador</span>
        <button class="call-btn" id="sign-up-call-btn">Fazer meu cadastro</button>
    </section>
    <div id="cover"></div>
</div>